html, body, #root { height: 100%; }

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f6f7f9;
}

.MainPage {
  display: flex;
  flex: 1;
  min-height: 0; 
}

#sidebar {
  flex: 1;
  background: #ececec;
  padding: 48px;
  box-sizing: border-box;
  overflow-y: auto;
}


.MainContent {
  flex: 2;
  background: #fff;
  padding: 48px;
  box-sizing: border-box;
  overflow-y: auto;
}